/* Style the video: 100% width and height to cover the entire window  resize if needed center it in */
#video {
    right: 0;
    bottom: 0;
    min-width: 50%;
    min-height: 50%;
    width: 100%;
    /* center in the page */
    margin: auto;
    z-index: -100;

}


/* show the overflow */
.container {
    overflow: auto;
}

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    color: #f1f1f1;
    width: 800%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #1BDA07;
    color: #E81CDE;
    cursor: pointer;
}

#myBtn:hover {
    background: #E81CDE;
    color: #1BDA07;
}

/* set the background color of the page */
body {
    background-color: #1CE6FE;
}

/* style forward and back buttons */
#forward {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #1BDA07;
    color: #E81CDE;
    cursor: pointer;
}

#forward:hover {
    background: #E81CDE;
    color: #1BDA07;
}

#backward {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #1BDA07;
    color: #E81CDE;
    cursor: pointer;
}

#backward:hover {
    background: #E81CDE;
    color: #1BDA07;
}

/* zoom_in, zoon_out reset button */
#zoom_in {
    width: 100px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #1BDA07;
    color: #E81CDE;
    cursor: pointer;
}

/* add also hovertex */
#zoom_in:hover {
    background: #E81CDE;
    color: #1BDA07;
}

#zoom_out {
    width: 100px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #1BDA07;
    color: #E81CDE;
    cursor: pointer;
}


#zoom_out:hover {
    background: #E81CDE;
    color: #1BDA07;
}


#reset {
    width: 100px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #1BDA07;
    color: #E81CDE;
    cursor: pointer;
}


#reset:hover {
    background: #E81CDE;
    color: #1BDA07;
}